.wrapper {
  z-index: 1003;

  position: relative;
  cursor: pointer;
  background-color: var(--component-input-default);
  &.disabled {
    cursor: not-allowed !important;
    color: var(--colors-gray-400);
    font-size: var(--font-size-3);
    font-weight: 500;
    line-height: 1.42em;
  }
}

.wrapper-opened {
  z-index: 100001;
}

.input {
  cursor: pointer;
  pointer-events: none;
  height: var(--spaces-5);
  padding: 0 var(--spaces-2);
  padding-right: calc(3 * var(--spaces-2));

  width: 100%;
  border: 1px solid var(--component-input-default-border);
  border-radius: var(--border-radius-3);
  font-size: var(--font-size-3);

  outline: none;
}

.inputWrapper {
  position: relative;
}

.icon {
  position: absolute;
  top: 50%;
  right: var(--spaces-2);

  transform: translateY(-50%);

  display: flex;
  align-items: center;
  justify-content: center;

  color: var(--colors-icon-static);
}

.optionsWrapperBottom {
  display: flex;
  flex-direction: column;
  border-radius: var(--border-radius-3);

  border: 1px solid var(--component-input-default-border);

  background-color: var(--color-background-sunken);

  max-height: calc(5 * var(--spaces-5));
  overflow-y: auto;

  position: absolute;
  top: calc(100% + var(--spaces-1));
  left: 0;
  right: 0;
}

.optionsWrapperTop {
  display: flex;
  flex-direction: column;
  border-radius: var(--border-radius-3);

  border: 1px solid var(--component-input-default-border);

  background-color: var(--color-background-sunken);

  max-height: calc(5 * var(--spaces-5));
  overflow: hidden;
  position: absolute;
  bottom: calc(100% + var(--spaces-1));
  left: 0;
  right: 0;
}

.scrollContainer {
  max-height: calc(5 * var(--spaces-5));
  overflow-y: auto;
}

.scrollContainer::-webkit-scrollbar {
  border-radius: 0 var(--border-radius-3) var(--border-radius-3) 0;
}

.scrollContainer::-webkit-scrollbar-track {
  border-radius: var(--border-radius-3);
}

.scrollContainer::-webkit-scrollbar-thumb {
  border-radius: 0 var(--border-radius-3) var(--border-radius-3) 0;
}

.option {
  user-select: none;
  background-color: var(--color-background-sunken);
  font-size: var(--font-size-3);
  padding: 0 var(--spaces-2);
  height: var(--spaces-5);
  color: var(--colors-font-primary);
  min-height: var(--spaces-5);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  transition: background-color 0.3s;
  gap: var(--spaces-2);

  &:not(.optionSelected):hover {
    background-color: var(--colors-background-overlay-gray);
  }
}

.optionSelected {
  background-color: var(--colors-brand-500);
  color: var(--colors-neutral-50);
}

.empty-options {
  font-size: var(--font-size-3);
  padding: 0 var(--spaces-2);
  height: var(--spaces-5);
  min-height: var(--spaces-5);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s;
  color: var(--colors-gray-500);
}

.select {
  background-color: var(--component-input-default);
  width: 100%;
  border: 1px solid var(--component-input-default-border);
  border-radius: var(--border-radius-3);
  font-size: var(--font-size-3);

  outline: none;

  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: var(--spaces-1);

  & > span {
    color: var(--colors-gray-500);
  }

  & > .selected_value {
    color: var(--colors-font-primary);

    &.disabled {
      color: var(--colors-gray-400);

      font-size: var(--font-size-3);

      font-weight: 500;
      line-height: 1.42em;
    }
  }

  &.disabled {
    cursor: not-allowed;

    background: var(--component-input-disabled);
    color: var(--component-input-disabled-text);
    box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
    pointer-events: none;
  }
}

.select-size-1 {
  min-height: var(--spaces-4);
  padding: 0 var(--spaces-1);
  padding-right: var(--spaces-5);

  & > figure {
    position: absolute;
    top: calc(var(--spaces-4) / 2);
    right: var(--spaces-micro);
    transform: translateY(-50%);
    color: var(--colors-icon-static);
  }
}

.select-size-2 {
  min-height: var(--spaces-5);
  padding: var(--spaces-1) var(--spaces-2);
  padding-right: var(--spaces-6);

  & > figure {
    position: absolute;
    top: calc(var(--spaces-5) / 2);
    right: var(--spaces-2);
    transform: translateY(-50%);
    color: var(--colors-gray-400);
  }
}
