.light-theme {
  --component-cta-button-tertiary-border: var(--colors-light-gray-300);
  --icon-static: var(--colors-light-gray-500);
}

.dark-theme {
  --component-cta-button-tertiary-border: var(--colors-dark-gray-600);
  --icon-static: var(--colors-dark-gray-500);
}

