.light-theme {
    //Gray
    --component-badge-gray-text: var(--colors-dark-gray-700);
    --component-badge-gray-background: var(--colors-gray-100);

    // Orange
    --component-badge-orange-background: var(--colors-orange-300);
    --component-badge-orange-text: var(--colors-orange-900);

    // Blue
    --component-badge-blue-text: var(--colors-blue-800);
    --component-badge-blue-background: var(--colors-blue-200);

    // Error
    --component-badge-error-text: var(--colors-error-700);
    --component-badge-error-background: var(--colors-error-300);
}

.dark-theme {
    //Gray
    --component-badge-gray-text: var(--colors-dark-gray-400);
    --component-badge-gray-background: var(--colors-dark-gray-700);

    // Orange
    --component-badge-orange-text: var(--colors-orange-300);
    --component-badge-orange-background: var(--colors-orange-900);

    // Blue
    --component-badge-blue-text: var(--colors-blue-200);
    --component-badge-blue-background: var(--colors-blue-800);

    // Error
    --component-badge-error-text: var(--colors-error-300);
    --component-badge-error-background: var(--colors-error-700);
}