.button {
  user-select: none;
  position: relative;
  border: none;
  color: white;
  border-radius: var(--border-radius-3);
  outline: none;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: var(--font-size-3);

  gap: var(--spaces-1);

  transition:
    background-color 0.3s,
    opacity 0.3s;
  will-change: background-color, opacity;

  &:disabled {
    cursor: not-allowed;
  }
  &:focus,
  &:focus-visible {
    box-shadow: 0 0 0 3px var(--colors-brand);
  }
  & figure:first-child:not(:only-child) {
    margin-left: calc(var(--spaces-micro) * -1);
  }

  & figure:last-child:not(:only-child) {
    margin-right: calc(var(--spaces-micro) * -1);
  }
}

.loading_overlay {
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--lighten-color);
  display: flex;
  align-items: center;
  justify-content: center;
}

.size__small {
  padding: 0 var(--spaces-1);
  height: var(--spaces-4);
}

.size__medium {
  padding: 0 var(--spaces-2);
  height: var(--spaces-4);
}

.size__large {
  padding: 0 var(--spaces-2);
  height: calc(var(--spaces-5) + var(--spaces-micro));
}
