.variant__primary {
  border-radius: var(--border-radius-3);
  border: 1px solid var(--colors-brand-400);
  background: var(--colors-brand-400);

  color: var(--colors-neutral-50);
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);

  transition:
    box-shadow 0.3s,
    background-color 0.3s;
  will-change: box-shadow, background-color;

  &:disabled {
    cursor: not-allowed;
    background: var(--colors-gray-300);
    border-color: var(--colors-gray-300);
    color: var(--colors-gray-400);
  }

  &:hover:not(:disabled):not(:active) {
    border-color: 1px solid var(--colors-brand-700);
    background-color: var(--colors-brand-700);
  }

  &:active:not(:disabled) {
    background: var(--colors-gray-300);
    border-color: var(--colors-gray-300);
    color: var(--colors-gray-400);

    box-shadow:
      0px 0px 0px 4px #f4ebff,
      0px 1px 2px 0px rgba(16, 24, 40, 0.05);
  }
}

.variant__success {
  border-radius: var(--border-radius-3);
  border: 1px solid var(--colors-success-500);
  background-color: var(--colors-success-500);

  color: var(--background);
  box-shadow: 0px 1px 2px 0px rgba(16, 40, 20, 0.05);

  transition:
    box-shadow 0.3s,
    background-color 0.3s;
  will-change: box-shadow, background-color;

  &:hover:not(:disabled):not(:active) {
    border-color: var(--colors-success-600);
    background-color: var(--colors-success-600);
  }

  &:active:not(:disabled) {
    border-color: var(--colors-success-500);
    background-color: var(--colors-success-500);

    box-shadow:
      0px 0px 0px 4px #f4ebff,
      0px 1px 2px 0px rgba(16, 40, 24, 0.05);
  }

  &:disabled:not(.loading) {
    border: 1px solid var(--colors-success-600);
    background: var(--colors-success-600);
  }
}

.variant__secondary {
  border-radius: var(--border-radius-3);
  border: 1px solid var(--colors-brand-50);
  background-color: var(--colors-brand-50);

  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);

  color: var(--colors-neutral-50);

  transition:
    box-shadow 0.3s,
    background-color 0.3s,
    border 0.3s;
  will-change: box-shadow, background-color, border;

  &:hover:not(:disabled):not(:active) {
    border-color: var(--colors-brand-100);
    background-color: var(--colors-brand-100);
  }

  &:active:not(:disabled) {
    border-color: var(--colors-brand);
    background-color: var(--colors-brand);

    box-shadow:
      0px 0px 0px 4px #f4ebff,
      0px 1px 2px 0px rgba(16, 24, 40, 0.05);
  }

  &:disabled {
    cursor: not-allowed;
    background: var(--colors-gray-300);
    border-color: var(--colors-gray-300);
    color: var(--colors-gray-400);
  }
}

.variant__tertiary {
  color: var(--colors-neutral-50);
  border-radius: var(--border-radius-3);

  border: 2px solid var(--color-background);
  background: var(--colors-black);
  box-shadow: 0px 0px 0px 2px #000;
  transition: background-color 0.3s, box-shadow 0.3s;
  will-change: background-color box-shadow;

  &:hover {
    border: 2px solid #000;
    background: #1d2939;
    box-shadow: 0px 0px 0px 2px #fff;
  }
}

.variant__outline {
  border-radius: var(--border-radius-3);
  border: 1px solid var(--colors-gray-300);
  background-color: var(--color-background);

  color: var(--colors-gray-900);

  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);

  transition:
    box-shadow 0.3s,
    background-color 0.3s;
  will-change: box-shadow, background-color;

  &:hover:not(:disabled):not(:active) {
    background: var(--colors-gray-100);

    :global(.dark-theme) & {
      background-color: var(--colors-dark-gray-700);
    }
  }

  &:active:not(:disabled) {
    box-shadow:
      0px 0px 0px 4px #f2f4f7,
      0px 1px 2px 0px rgba(16, 24, 40, 0.05);
  }

  &:disabled {
    border-color: var(--color-border);
    background-color: var(--background);
    color: var(--colors-gray-300);
  }
}

.variant__danger {
  color: var(--background);

  border-radius: var(--border-radius-3);
  border: 1px solid var(--colors-error-600);
  background: var(--colors-error-600);

  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);

  transition:
    box-shadow 0.3s,
    background-color 0.3s;
  will-change: box-shadow, background-color;

  &:hover:not(:disabled):not(:active) {
    border-color: var(--colors-error-700);
    background-color: var(--colors-error-700);
  }
}

.variant__text {
  border: none;
  border-radius: var(--border-radius-3);
  background-color: transparent;
  color: var(--colors-gray-700);

  transition:
    box-shadow 0.3s,
    background-color 0.3s;
  will-change: box-shadow, background-color;

  &:hover:not(:disabled) {
    background: var(--colors-gray-300);

    :global(.dark-theme) & {
      background-color: var(--colors-dark-gray-700);
    }
  }

  &:active:not(:disabled) {
    box-shadow:
      0px 0px 0px 4px #f2f4f7,
      0px 1px 2px 0px rgba(16, 24, 40, 0.05);
  }

  &:disabled {
    cursor: not-allowed;
    background-color: var(--background);
  }
}

.loading {
  z-index: 101;
  cursor: wait !important;

  > figure {
    display: none;
  }
}
