.base-disabled-styles {
  background: var(--button-base-disabled-background) !important;
  border: 1px solid var(--button-base-disabled-background);

  cursor: not-allowed;

  color: var(--button-base-disabled-color);
}

.variant__primary {
  position: relative;
  border: 1px solid var(--colors-brand-400);
  color: var(--colors-white);
  overflow: hidden;
  z-index: 1;
  background: linear-gradient(
    180deg,
    var(--colors-brand-500) 0%,
    var(--colors-brand-400) 100%
  ) !important; // added due to admin platform tailwind setup

  &::before {
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(
      180deg,
      var(--colors-brand-600) 0%,
      var(--colors-brand-500) 100%
    );
    z-index: -1;
    transition: opacity 0.3s linear;
    opacity: 0;
  }

  &:not(:disabled):hover::before {
    opacity: 1;
  }

  &:disabled {
    @extend .base-disabled-styles;
  }
}

.variant__secondary {
  color: var(--button-secondary-text);
  border: 1px solid var(--button-secondary-border);
  background: transparent;

  transition: background 0.3s;
  will-change: background;

  &:not(:disabled):not(:active):hover {
    background: var(--button-secondary-hover);
  }
  &:disabled {
    @extend .base-disabled-styles;
  }
}

.variant__tertiary {
  border: 1px solid var(--button-tertiary-border);
  background: var(--color-background-sunken);

  color: var(--button-tertiary-text);

  border-radius: 8px;

  transition: background 0.3s;
  will-change: background;

  &:not(:disabled):hover {
    background: var(--button-tertiary-hover);
  }

  &:disabled {
    @extend .base-disabled-styles;
  }
}

.variant__link-gray,
.variant__link-color {
  padding: 0px !important;
  height: fit-content !important;
  width: fit-content !important;
  background-color: transparent;
}

.variant__link-gray {
  color: var(--button-link-gray-text);

  transition: color 0.3s;
  will-change: color;

  &:not(:disabled):hover {
    color: var(--button-link-gray-text-hover);
  }

  &:disabled {
    color: var(--button-link-disabled);
  }
}

.variant__link-color {
  color: var(--colors-brand-400);

  transition: color 0.3s;
  will-change: color;

  &:not(:disabled):hover {
    color: var(--colors-brand-500);
  }

  &:disabled {
    color: var(--button-link-disabled);
  }
}

.variant__danger {
  color: var(--colors-white);

  border: 1px solid var(--colors-error-600);
  background: var(--colors-error-600) !important;

  transition:
    box-shadow 0.3s,
    background-color 0.3s;
  will-change: box-shadow, background-color;

  &:not(:disabled):hover {
    border-color: var(--colors-error-700);
    background-color: var(--colors-error-700);
  }
}
