.light-theme {
  --button-secondary-text: var(--colors-brand-400);
  --button-secondary-hover: var(--colors-brand-50);
  --button-secondary-border: var(--colors-brand-400);

  --button-tertiary-text: var(--colors-light-gray-900);
  --button-tertiary-border: var(--colors-light-gray-300);
  --button-tertiary-hover: var(--colors-light-gray-200);

  --button-base-disabled-background: var(--colors-light-gray-200);
  --button-base-disabled-color: var(--colors-light-gray-400);

  --button-link-gray-text: var(--colors-light-gray-500);
  --button-link-gray-text-hover: var(--colors-light-gray-600);

  --button-link-disabled: var(--colors-light-gray-400);
}

.dark-theme {
  --button-secondary-text: var(--colors-brand-300);
  --button-secondary-hover: var(--colors-brand-900);
  --button-secondary-border: var(--colors-brand-300);

  --button-tertiary-text: var(--colors-white);
  --button-tertiary-border: var(--colors-dark-gray-600);
  --button-tertiary-hover: var(--colors-dark-gray-700);

  --button-base-disabled-background: var(--colors-dark-gray-400);
  --button-base-disabled-color: var(--colors-dark-gray-600);

  --button-link-gray-text: var(--colors-dark-gray-500);
  --button-link-gray-text-hover: var(--colors-dark-gray-400);

  --button-link-disabled: var(--colors-dark-gray-600);
}
