.item {
  display: flex;
  gap: var(--spaces-1);

  padding: 5px 12px;
  align-items: center;
  width: 100%;

  color: var(--color-title);

  font-size: var(--font-size-3);
  font-weight: 500;
  line-height: 1.57em;

  transition: background-color 0.3s;
  will-change: background-color;

  border-radius: var(--border-radius-3);
  min-width: 128px;

  text-wrap: nowrap;
  border: none;
  background-color: transparent;
  cursor: pointer;
  :global(.dark-theme) & {
    background-color: var(--colors-dark-gray-700) !important;
    color: var(--colors-gray-300) !important;
  }

  & * {
    figure,
    svg {
      color: var(--colors-icon-static);
    }
  }
  &:hover {
    background-color: var(--highlight-dropdown-selected-item);
    :global(.dark-theme) & {
      background-color: var(--colors-dark-gray-600) !important;
    }
  }
}
