@import "src/styles/breakpoints";

.inputWrapper {
  display: inline-block;
  input {
    width: auto;
    height: var(--spaces-4);
    min-width: 1ch !important;
  }
}

.wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex: 1;

  justify-content: space-between;
}

.button {
  background-color: transparent;
  outline: none;
  border: none;
  flex: 1;
  display: flex;
  align-items: center;
  color: var(--table-text-color-primary);
  cursor: pointer;
  transition: opacity 0.18s;
  will-change: opacity;
  font-size: var(--font-size-3);

  &:disabled {
    color: var(--table-text-color-secondary);
    cursor: not-allowed;
  }

  &:not(:disabled):hover {
    opacity: 0.5;
  }

  &:first-child {
    justify-content: flex-start;
  }

  &:last-child {
    justify-content: flex-end;
  }

  & figure {
    color: var(--colors-gray-500);
  }

  span {
    @include temporary-mobile {
      display: none;
    }
  }
}

.pages {
  white-space: nowrap;
  color: var(--table-text-color-secondary);
  flex: 1;
  display: flex;

  justify-content: center;
  align-items: center;
  gap: var(--spaces-1);
}

.item {
  width: 32px;
  height: 32px;
  line-height: 32px;
  text-align: center;
  border-radius: var(--table-border-radius);
  cursor: pointer;
}

.itemActive {
  color: var(--table-pagination-active-text);
  background-color: var(--table-pagination-background);
}
