.selectedValue,
.placeholder {
  font-size: var(--font-size-3);
  font-style: normal;
  font-weight: 400;
  line-height: 1.57em;
  user-select: none;
}

.selectedValue {
  color: var(--component-input-active-text);

  &.selectedValue__disabled {
    color: var(--component-input-disabled-text);
  }
}

.placeholder {
  color: var(--component-input-default-text);
}
