@import "src/styles/breakpoints";

.body {
  max-height: 569px;
  overflow-y: auto;

  padding: var(--spaces-3);
  padding-bottom: 88px;

  display: flex;
  flex-direction: column;
  gap: var(--spaces-3);

  border-bottom-left-radius: calc(var(--border-radius-3) * 2);
  border-bottom-right-radius: calc(var(--border-radius-3) * 2);
  background: var(--component-modal-background);

  &::-webkit-scrollbar {
    width: var(--spaces-micro);
  }
  &::-webkit-scrollbar-track {
    background: var(--color-background-sunken);

    margin-bottom: 88px;
  }
  &::-webkit-scrollbar-thumb {
    background: var(--colors-gray-900);
  }

  @include temporary_mobile {
    border-radius: 0px;
    padding-bottom: 0px;
    max-height: none;
    overflow-y: visible;
    height: 100%;
    flex: 1;
  }
}
