@import "src/styles/breakpoints";

@keyframes join {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  60% {
    opacity: 1;
    transform: translateY(-10%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes hide {
  0% {
    opacity: 1;
    transform: translateY(0%);
  }
  40% {
    opacity: 1;
    transform: translateY(-10%);
  }
  100% {
    opacity: 0;
    transform: translateY(100%);
  }
}

.wrapperContainer {
  z-index: 1020;
  position: fixed;
  bottom: var(--spaces-4);
  right: var(--spaces-4);
  display: flex;
  flex-direction: column-reverse;
  gap: var(--spaces-2);
  background-color: transparent !important;


  @include temporary-mobile {
    right: var(--spaces-2);
  }
}

.wrapper {
  border-radius: var(--border-radius-3);
  border: 1px solid var(--colors-border);
  background-color: var(--colors-neutral-50);

  position: relative;

  gap: var(--spaces-1);

  display: flex;
  align-items: flex-start;
  padding: var(--spaces-2) var(--spaces-3) var(--spaces-2) var(--spaces-2);

  max-width: 320px;

  transition: left 0.3s;
  will-change: left;

  animation: join 0.3s normal ease;

  svg {
    color: var(--colors-primary);
  }

  &.error {
    border-color: var(--colors-error-500) !important;

    figure {
      color: var(--colors-error-500) !important;
    }
  }

  &.success {
    figure {
      color: var(--colors-success-400) !important;
    }
  }

  @include mobile {
    width: 100%;
  }
}

.content {
  display: flex;
  flex-direction: column;
  gap: var(--spaces-micro);
  width: 100%;

  color: var(--colors-font-primary);
  font-size: var(--font-size-3);
  line-height: 1.5em;

  > .title {
    font-weight: 600;
  }

  > .message {
    font-weight: 400;
  }
}

.hide {
  animation: hide 0.3s normal ease;

  opacity: 0;
  transform: translateY(100%) translateX(-50%);
}

.progressWrapper {
  pointer-events: none;
  position: absolute;
  bottom: -1px;
  left: -1px;
  right: -1px;
  top: -1px;
  background-color: transparent;

  border-radius: var(--spaces-1);
  overflow: hidden;
}

@keyframes progressBar {
  from {
    transform: scaleX(0);
  }
  to {
    transform: scaleX(1);
  }
}

.progress {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--color-border);
  height: 2px;

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 2px;

    background-color: var(--colors-gray-600);
    transform-origin: left;
    animation: progressBar var(--toast-duration) linear forwards;
  }

  .error & {
    background-color: var(--colors-error-200);

    &::after {
      background-color: var(--colors-error-500);
    }
  }

  .success &::after {
    background-color: var(--colors-success-400);
  }
}
