.wrapper {
  min-width: var(--trigger-width);
  min-height: var(--trigger-height);
  border-radius: var(--trigger-radius);
  text-align: center;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--spaces-1);

  &:hover {
    background: var(--colors-gray-50);
  }
}

.size__small {
  padding: 0 var(--spaces-2);
  height: var(--spaces-4);
}

.size__medium {
  padding: 0 var(--spaces-2);
  height: var(--spaces-4);
}

.size__large {
  padding: 0 var(--spaces-2);
  height: var(--spaces-5);
}
