.variant__primary {
  background-color: var(--trigger-background);
  transition: background-color 0.3s ease-in-out;
  padding: 0 var(--spaces-2);

  &:hover {
    background: var(--colors-gray-50);
  }
}

.variant__secondary {
  color: var(--trigger-color) !important;
  background-color: var(--trigger-background) !important;
  border-color: var(--trigger-border-color) !important;
  border: 1px solid;
  border-radius: var(--border-radius-3);
  transition: background-color 0.3s, box-shadow 0.3s;
  will-change: background-color box-shadow;
  &:hover:not(:disabled):not(:active) {
    background: var(--trigger-background--hover) !important;
  }
  padding: 0 var(--spaces-2)
  
}
