.variant__primary {
  background-color: var(--color-background-sunken);
  transition: background-color 0.3s ease-in-out;
  padding: 0 var(--spaces-2);

  &:hover {
    background: var(--colors-gray-50);
  }
}

.variant__secondary {
  color: var(--color-title) !important;
  background-color: var(--color-background-sunken) !important;
  border-color: var(--input-default-border) !important;
  border: 1px solid;
  border-radius: var(--border-radius-3);
  transition:
    background-color 0.3s,
    box-shadow 0.3s;
  will-change: background-color box-shadow;
  &:hover:not(:disabled):not(:active) {
    background: var(--colors-background-overlay-gray) !important;
  }
  padding: 0 var(--spaces-2);
}
