:root {
  --root-font-size: 10px;

  /* -------- Spaces -------- */
  --max-width: 144px;
  --max-width-auth: 360px;
  --checkbox-size: 20.5px;
  --datepicker-mobile-width: 270px;
  --max-height-dropdown-menu: 320px;
  --max-width-field-form: 198px;
  --max-width-fields-form: 420px;

  --empty-state-horizontal-spaces: 302px;

  --spaces-nano: 2px;
  --spaces-micro: 4px;
  --spaces-1: 8px;
  --spaces-2: 16px;
  --spaces-3: 24px;
  --spaces-4: 32px;
  --spaces-5: 40px;
  --spaces-6: 48px;
  --spaces-7: 56px;
  --spaces-8: 64px;
  --spaces-9: 72px;
  --spaces-10: 80px;
  --spaces-12: 96px;

  /* -------- Border Radius -------- */
  --border-radius-1: 2px;
  --border-radius-2: 4px;
  --border-radius-3: 8px;
  --border-radius-4: 16px;

  /* -------- Fonts -------- */
  --font-size-1: 10px;
  --font-size-2: 12px;
  --font-size-3: 14px;
  --font-size-4: 16px;
  --font-size-5: 18px;
  --font-size-6: 20px;
  --font-size-7: 22px;
  --font-size-8: 24px;
  --font-size-9: 26px;
  --font-size-10: 28px;
  --font-size-11: 30px;

  /* -------- Colors -------- */

  // Brand colors
  --colors-brand: #000;
  --colors-brand-25: var(--colors-brand);
  --colors-brand-50: #e3d4f6;
  --colors-brand-100: var(--colors-brand);
  --colors-brand-200: #c7aaed;
  --colors-brand-300: #ba95e9;
  --colors-brand-400: #742ad3;
  --colors-brand-500: var(--colors-brand);
  --colors-brand-600: #46197f;
  --colors-brand-700: #3a156a;
  --colors-brand-800: #2e1154;
  --colors-brand-900: var(--colors-brand);
  --colors-brand-950: var(--colors-brand);

  // Neutral colors
  --colors-neutral-50: #ffffff;
  --colors-neutral-500: #dee7f8;

  //Black
  --colors-black: #000;
  // Gray
  --colors-gray-25: #fcfcfd;
  --colors-gray-50: #f9fafb;
  --colors-gray-100: #f2f4f7;
  --colors-gray-200: #eaecf0;
  --colors-gray-300: #d0d5dd;
  --colors-gray-400: #98a2b3;
  --colors-gray-500: #667085;
  --colors-gray-600: #475467;
  --colors-gray-700: #344054;
  --colors-gray-800: #1d2939;
  --colors-gray-850: #2a3036;
  --colors-gray-900: #101828;
  --colors-gray: var(--colors-gray-500);
  // Dark gray
  --colors-dark-gray-700: #161a1d;
  --colors-dark-gray-800: #101214;
  --colors-dark-gray-900: #0b0d0e;
  // Success
  --colors-success-25: #f6fef9;
  --colors-success-50: #ecfdf3;
  --colors-success-100: #d1fadf;
  --colors-success-200: #a6f4c5;
  --colors-success-300: #6ce9a6;
  --colors-success-400: #32d583;
  --colors-success-500: #12b76a;
  --colors-success-600: #039855;
  --colors-success-700: #027a48;
  --colors-success-800: #05603a;
  --colors-success-900: #054f31;
  --colors-success: var(--colors-success-500);

  // Error
  --colors-error-25: #fffbfa;
  --colors-error-50: #fef3f2;
  --colors-error-100: #fee4e2;
  --colors-error-200: #fecdca;
  --colors-error-300: #fda29b;
  --colors-error-400: #f97066;
  --colors-error-500: #f04438;
  --colors-error-600: #d92d20;
  --colors-error-700: #b42318;
  --colors-error-800: #912018;
  --colors-error-900: #7a271a;
  --colors-error: var(--colors-error-500);

  // Warning
  --colors-warning-50: #fffaeb;
  --colors-warning-100: #fef0c7;
  --colors-warning-500: #f79009;

  // Purple
  --colors-purple-50: #f4f3ff;
  --colors-purple-100: #ebe9fe;
  --colors-purple-300: #bdb4fe;
  --colors-purple-600: #6938ef;
  --colors-purple-700: #5925dc;

  // Blue Gray
  --colors-blue-gray-50: #f8f9fc;
  --colors-blue-gray-300: #afb5d9;

  // Lightblue
  --colors-blue-light-50: #e5f5ff;
  --colors-blue-light-100: #d2eeff;
  --colors-blue-light-200: #b4e3ff;
  --colors-blue-light-500: #0b5d8e;
  --colors-blue-light-600: #2e9de0;
  --colors-blue-light-700: #1474ae;

  // Blue
  --colors-blue-50: #eff8ff;
  --colors-blue-300: #84CAFF;
  --colors-blue-500: #53B1FD;
  --colors-blue-700: #175cd3;
  --colors-blue-800: #194185;

  // Orange
  --colors-orange-50: #fff6ed;
  --colors-orange-100: #ffead5;
  --colors-orange-200: #fddcab;
  --colors-orange-400: #fd853a;
  --colors-orange-700: #c4320a;

  // Indigo
  --colors-indigo-50: #eef4ff;
  --colors-indigo-200: #c7d7fe;
  --colors-indigo-500: #6172f3;
  --colors-indigo-700: #3538cd;

  --color-placeholder: var(--colors-gray-500);
  --color-background: var(--colors-neutral-50);
  --colors-font-primary: var(--colors-gray-900);
  --colors-border: var(--colors-gray-300);

  --lighten-color: rgba(255, 255, 255, 0.5);
  --darken-color: rgba(0, 0, 0, 0.25);

  // Main background-color
  --background: #fff;

  // Dark Gray
  --colors-dark-gray-500: #636e79;
  --colors-dark-gray-600: #30373e;
  --colors-dark-gray-700: #161a1d;
  --colors-dark-gray-900: #0b0d0e;

  //Light Gray
  --colors-light-gray-200: var(--colors-gray-200);
  --colors-light-gray-300: var(--colors-gray-300);
  --colors-light-gray-500: var(--colors-gray-500);
  --colors-light-gray-700: var(--colors-gray-700);
  --colors-light-gray-900: var(--colors-gray-900);

  --color-border: var(--colors-gray-300);
  --color-placeholder: var(--colors-gray-500);
  --color-background: var(--colors-neutral-50);

  --primary-text: var(--colors-gray-900);
  --secondary-text: var(--colors-gray-500);
  --inactive-border: var(--colors-gray-200);
  --gray-background: var(--colors-gray-100);
  --surface-background: var(--colors-neutral-50);
  --modal-overlay: rgba(52, 64, 84, 0.4);
  --modal-divider: var(--colors-gray-200);
  --input-default-border: var(--colors-gray-300);
}

body.light-theme {
  // Main background-color
  --background: #fff;
  --color-aside: #fff;

  --colors-font-primary: var(--colors-gray-900);

  --color-title: var(--colors-font-primary);
  --color-text: var(--colors-dark-gray-500);

  --color-border: var(--colors-gray-300);
  --color-border-default: var(--colors-gray-200);
  --colors-border-highlight: var(--colors-gray-300);

  --color-background-sunken: var(--colors-neutral-50);
  --colors-background-overlay: var(--colors-neutral-50);
  --colors-background-overlay-gray: var(--colors-gray-100);

  --colors-icon-static: var(--colors-light-gray-500);
}

body.dark-theme {
  // Main background-color
  --background: #000;
  --color-aside: var(--colors-dark-gray-900);

  --colors-font-primary: #fff;

  --color-title: #fff;
  --color-text: var(--colors-dark-gray-500);

  --color-border: var(--colors-dark-gray-700);
  --color-border-default: var(--colors-dark-gray-700);
  --colors-border-highlight: var(--colors-dark-gray-600);

  --colors-background-sunken: --colors-dark-gray-900;
  --colors-background-overlay: --colors-dark-gray-900;
  --colors-background-overlay-gray: var(--colors-dark-gray-700);

  --colors-icon-static: var(--colors-dark-gray-500);
}

* {
  -webkit-tap-highlight-color: transparent;
  box-sizing: border-box;
}

body > div {
  background-color: var(--background) !important;
}

body {
  position: relative;
}
body > div {
  background-color: var(--color-background) !important;
}

input::placeholder {
  color: var(--color-placeholder);
}

figure {
  margin: 0;
  padding: 0;
  display: inline;
}
