.cardWrapper {
  width: 100px;
  height: var(--spaces-9);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--spaces-2);
  background-color: var(--colors-background-overlay-gray);
  border: 1px solid var(--colors-border-highlight);
  border-radius: var(--border-radius-3);

  .content {
    max-width: 80px;
  }
}
