.light-theme {
  --component-cta-filter-active-border: var(--colors-success-300);
  --component-cta-filter-active-background: var(--colors-success-100);
}

.dark-theme {
  --component-cta-filter-active-border: var(--colors-success-400);
  --component-cta-filter-active-background: var(--colors-success-900);
}
