// TODO - This is a temporary solution to fix the mobile breakpoint issue
// When it's fixed, replace every place is using this to $mobile
$correct_mobile: 768px;

$mobile: 1139px;
$desktop: 1140px;
$widescreen: 1920px;

@mixin temporary_mobile {
  @media (max-width: $correct_mobile) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: $mobile) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: $desktop) and (max-width: calc($widescreen - 1px)) {
    @content;
  }
}

@mixin widescreen {
  @media (min-width: $widescreen) {
    @content;
  }
}
