.container {
  width: 658px;
  top: calc(100% + var(--spaces-1));
  z-index: 1;
  position: absolute;
  display: flex;
  flex-direction: column;
  border-radius: var(--border-radius-3);
  border: 1px solid var(--component-datepicker-border);
  background: var(--component-datepicker-background);

  box-shadow:
    0px 20px 24px -4px rgba(16, 24, 40, 0.08),
    0px 8px 8px -4px rgba(16, 24, 40, 0.03);

  animation: 0.3s menuEntry;
  z-index: 100;

  &.align__end {
    right: 0;
  }
  &.align__middle {
    left: 50%;
    transform: translateX(-50%);
  }
  &.align__start {
    left: 0;
  }

  @media (max-width: 768px) {
    width: var(--datepicker-mobile-width);
  }

  .footer {
    width: 100%;
    padding: var(--spaces-2) var(--spaces-3);
    gap: calc(var(--spaces-1) + var(--spaces-micro));
    display: flex;
    align-items: center;
    justify-content: flex-end;
    border-top: 1px solid var(--component-datepicker-border);
  }
}

.table {
  border-spacing: 0;

  @media (max-width: 768px) {
    width: 100%;
    table-layout: fixed;

    tr {
      width: 100%;
    }

    th,
    td {
      width: 25%;
    }
  }
}

.rdpRoot {
  margin: 0px;
}
.months {
  display: flex;
}

.dayOutside {
  color: var(--colors-gray-500) !important;
}
.today {
  background-color: var(--component-datepicker-current-day-background) !important;
  color: var(--component-datepicker-color) !important;
}

.day {
  color: var(--component-datepicker-color);
  display: flex;
  width: 100%;
  height: var(--spaces-5);
  padding: 10px 8px 8px 8px;
  justify-content: center;
  align-items: center;
  @media (max-width: 768px) {
    height: var(--spaces-4);
  }
}

.selectedDay {
  color: white !important;

  font-weight: 500;
  background-color: var(--component-datepicker-background-selectedDay) !important;
  &:hover {
    color: white !important;
    background-color: var(--component-datepicker-background-selectedDay) !important;
  }
}

.buttonReset {
  background: unset;
}

.weekDay {
  color: var(--component-datepicker-color);
  text-transform: capitalize;
  text-align: center;

  font-size: var(--font-size-3);
  font-weight: 500;
  line-height: 1.57em;
}

.tableBody {
  display: flex;
  gap: var(--spaces-micro);
  flex-wrap: wrap;
  border-spacing: 0px;
}

.tableRow {
  td {
    min-width: 40px;
    @media (max-width: 768px) {
      min-width: auto;
      width: var(--spaces-4);
    }
    &:hover {
      button {
        color: var(--colors-brand-700);
      }
      background: var(--component-datepicker-middle-cell-background);
    }
    border-radius: 20px;
    &:last-child:has(button.range) {
      button {
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
      }
    }
    &:first-child:has(button.range) {
      button {
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
      }
    }

    &:has(.rangeEnd):has(.rangeStart) {
      border-radius: 20px;
      color: white;
    }
    &:has(.rangeEnd) {
      background: var(--component-datepicker-middle-cell-background);
      border-top-left-radius: 0px;
      border-bottom-left-radius: 0px;
      &:hover {
        background: var(--component-datepicker-middle-cell-background);
      }
    }
    &:has(.rangeStart) {
      background: var(--component-datepicker-middle-cell-background);
      border-top-right-radius: 0px;
      border-bottom-right-radius: 0px;
      &:hover {
        background: var(--component-datepicker-middle-cell-background);
      }
    }
    padding: 0px;
    button {
      border-radius: 20px;
      border: none;
      padding: 0px;
    }

    .range {
      border-radius: 0;
      color: var(--colors-brand-700) !important;
      background: var(--component-datepicker-middle-cell-background) !important;
      &:hover {
        color: var(--colors-brand-700) !important;
        background: var(--component-datepicker-middle-cell-background) !important;
      }
    }
  }
}

.headRow {
  display: flex;
  margin-bottom: var(--spaces-micro);

  th {
    width: 40px;
    height: 40px;

    @media (max-width: 768px) {
      width: var(--spaces-4);
      height: var(--spaces-4);
    }
  }
}

.monthContainer {
  width: 100%;
  padding: 20px var(--spaces-3);
  color: var(--color-title);
  &:first-child {
    border-right: 1px solid var(--component-datepicker-border);
    @media (max-width: 768px) {
      border: none;
    }
  }
}

.caption {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin-bottom: var(--spaces-3);
}

.monthLabel {
  text-transform: capitalize;
  text-align: center;
  white-space: nowrap;
  font-size: var(--font-size-4);
  font-weight: 600;

  @media (max-width: 768px) {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
}

.rdpCaption {
  @media (max-width: 768px) {
    height: 50px;
  }
}

.iconNav {
  color: var(--icon-action) !important;
}

.rdpNav {
  @media (max-width: 768px) {
    display: flex;
    flex: 1;
    justify-content: space-between;
    align-items: center;

    button {
      color: var(--colors-font-primary);
      border: none;
      height: var(--spaces-2);
    }
  }
}
