.light-theme {
    --component-datepicker-middle-cell-background: var(--colors-brand-50);
    --component-datepicker-current-day-background: var(--colors-gray-100);
    --component-datepicker-hover-text: var(--colors-brand-400);
    --component-datepicker-background-selectedDay: var(--colors-brand-600);
    --component-datepicker-background: var(--background);
    --component-datepicker-color: var(--colors-font-primary);
    --component-datepicker-border: var(--color-border-default);
}

.dark-theme {
    --component-datepicker-middle-cell-background: var(--colors-brand-900);
    --component-datepicker-current-day-background: var(--colors-dark-gray-600);
    --component-datepicker-hover-text: var(--colors-brand-300);
    --component-datepicker-background-selectedDay: var(--colors-brand-400);
    --component-datepicker-background: var(--background);
    --component-datepicker-color: var(--colors-font-primary);
    --component-datepicker-border: var(--color-border-default);
}