.animateFromTop {
  width: 100%;
  animation: slideDownFromTop 0.3s forwards;
}

@keyframes slideDownFromTop {
  0% {
    opacity: 0;
    transform: translateY(calc(-1 * var(--spaces-1, 8px)));
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animateFromBottom {
  animation: slideUpFromBottom 0.3s forwards;
}

@keyframes slideUpFromBottom {
  0% {
    opacity: 0;
    transform: translateY(var(--spaces-1));
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
