.wrapper {
  position: relative;
  display: flex;
  align-content: center;
  border-radius: var(--border-radius-3);
  background: var(--color-background);

  & > figure {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: var(--colors-gray-400);
  }

  & > figure:first-child {
    left: var(--spaces-2);
  }

  & > figure:last-child {
    right: var(--spaces-2);
  }

  input[type="time"]::-webkit-calendar-picker-indicator {
    display: none;
  }

  input[type="time"]::-webkit-inner-spin-button {
    display: none;
  }

  input[type="time"] {
    -moz-appearance: textfield;
  }

  input[type="password"]::-ms-reveal,
  input[type="password"]::-webkit-reveal {
    display: none;
  }

  &.error {
    .text__sufix,
    .text__prefix {
      border-color: var(--colors-error-500);
    }

    .input {
      border-color: var(--colors-error-500);
    }

    figure {
      color: var(--colors-error-500) !important;
    }
  }
}

.input {
  height: var(--spaces-5);
  padding: 0 var(--spaces-2);
  width: 100%;
  color: var(--component-input-default-default-text);
  border: 1px solid var(--component-input-default-default-border);
  border-radius: var(--border-radius-3);
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
  background-color: var(--color-background-sunken);
  font-size: var(--font-size-3);

  outline: none;

  &:focus,
  &:focus-visible {
    border-color: var(--component-input-default-default-border);
    color: var(--component-input-active-active-text);
    box-shadow: 0 0 0 4px var(--component-input-default-default-shadow);
  }

  &.prefix {
    padding-left: var(--spaces-6);
  }

  &.suffix {
    padding-right: var(--spaces-6);
  }

  &.disabled {
    cursor: not-allowed;
    color: var(--colors-gray-400);

    font-size: var(--font-size-3);
    font-weight: 500;
    line-height: 1.42em;

    background: var(--colors-gray-50);

    box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
  }
}

.isFocused {
  border-color: var(--colors-gray-500);
  box-shadow: 0 0 0 4px var(--component-input-default-default-shadow);

  .text__prefix,
  .text__sufix {
    border-color: var(--component-input-default-default-border);
  }

  input {
    box-shadow: none !important;
  }
}

.hasTextSufix {
  input {
    border-right: 0;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
  }
}

.hasTextPrefix {
  input {
    border-left: 0 none;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
  }
}

.text__sufix,
.text__prefix {
  padding: 0 calc(var(--spaces-1) + var(--spaces-micro));
  display: grid;
  background-color: var(--component-input-default-prefix-suffix-background);
  place-items: center;
  color: var(--component-input-default-prefix-suffix-text);
  border: 1px solid var(--component-input-default-default-border);
  font-size: var(--font-size-3);
  height: var(--spaces-5);
}

.text__prefix {
  left: var(--spaces-2);
  border-bottom-left-radius: var(--border-radius-3);
  border-top-left-radius: var(--border-radius-3);
}

.text__sufix {
  right: var(--spaces-2);
  border-bottom-right-radius: var(--border-radius-3);
  border-top-right-radius: var(--border-radius-3);
}
