

.wrapper {
  border-radius: 8px;
  margin: -1em;
  display: flex;
  flex-direction: column;
  position: relative;
  gap: 20px;
}

.title {
  font-size: 20px;
  margin: 0 0 15px;
}

.lightTheme,
.darkTheme {
  padding: 1em;
}

.lightTheme {
  background: #fff;

  .title {
    color: #000;
  }
}

.darkTheme {
  background: var(--colors-dark-gray-900);

  .title {
    color: #fff;
  }
}
