.informative {
  background: var(--banner-informative--background);
  color: var(--banner-informative--color);
  border-color: var(--banner-informative--border-color);
}

.danger {
  background: var(--banner-danger--background);
  color: var(--banner-danger--color);
  border-color: var(--banner-danger--border-color);
}
